<div class='card'
     *ngIf='groupListItem'>
  <div class='card-header'>
    {{pageTitle + ': ' + groupListItem.name}}
  </div>

  <div class='card-body'>
    <div class='row'>
      <div class='col-md-8'>
        <div class='row'>
          <div class='col-md-4'>Name:</div>
          <div class='col-md-8'> {{groupListItem.name}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Id:</div>
          <div class='col-md-8'>{{groupListItem.id}}</div>
        </div>
        <div class='row'>
          <div class='col-md-4'>5 Star Rating:</div>
          <div class='col-md-8'>
            <app-star [rating]='groupListItem.rating'>
            </app-star>
          </div>
        </div>
      </div>

      <div class='col-md-4'>
        <img class='center-block img-responsive'
             [style.width.px]='200'
             [style.margin.px]='2'
             [src]='groupListItem.imageUrl'
             [title]='groupListItem.name'>
      </div>
    </div>
  </div>

  <div class='card-footer'>
    <button class='btn btn-outline-secondary'
            (click)='onBack()'
            style='width:80px'>
      <i class='fa fa-chevron-left'></i> Back
    </button>
  </div>

</div>
