<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>

  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>
        Filter by:
      </div>
      <div class='col-md-4'>
          <input type='text' [(ngModel)]='listFilter'/>
        </div>
      </div>
      <div class='col-md-4'>
          Filtered by: {{listFilter}}
        </div>
    </div>

    <div class="mat-elevation-z8" >
      <table mat-table class="full-width-table" matSort aria-label="Elements"
      *ngIf='dataSource && dataSource.data.length'>
        <!-- Image Column -->
        <ng-container matColumnDef="imageUrl">
            <th mat-header-cell *matHeaderCellDef mat-header>
              <button class="mat-raised-button"
              (click)='toggleImage()'>
                  {{showImage ? 'Hide' : 'Show'}} Image
              </button>
            </th>
            <td mat-cell *matCellDef="let row">
              <img *ngIf='showImage'
                   src={{row.imageUrl}}
                   style.width.px='imageWidth'
                   style.margin.px='imageMarginh'
              >
            </td>
        </ng-container>

        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let row"><a [routerLink]="['/groups', row.id]">{{row.id}}</a>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row">{{row.name  | lowercase}}</td>
        </ng-container>

        <!-- Rating Column -->
        <ng-container matColumnDef="rating">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Rating</th>
            <!-- td mat-cell *matCellDef="let row">{{row.rating}}</td -->
            <td mat-cell *matCellDef="let row">
              <app-star [rating]='row.rating' (ratingClicked)='onRatingClicked($event)'></app-star>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator #paginator
          [length]="dataSource?.data.length"
          [pageIndex]="0"
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 20, 25, 50, 100, 250]">
      </mat-paginator>
    </div>

</div>
