<div class="crop"
     [style.width.px]="startWidth"
     [title]="rating"
     (click)="onClick()">
     <!--
     Bind onClick event to onClick method in star component
     -->
     <div style="width: 75px">
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
  </div>
  <!--
    fa fa-star  fontawesome icons

  -->
  <!-- click event to call onClick method
       in method call notify (with string message)
       in parent notify receives event with payload
       with event binding call method

       goal: click on stars: display rating

  -->
</div>
