<nav class='navbar navbar-expand navbar-light bg-light'>
  <a class='navbar-brand'>{{ title }}</a>
  <ul class='nav nav-pills'>
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/welcome']">Home</a></li>
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/groups']">Group List</a></li>
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/forms']">Forms</a></li>
    <li><a class='nav-link' routerLinkActive='active' [routerLink]="['/groep']">Groep</a></li>
  </ul>
</nav>
<div class='container'>
<router-outlet></router-outlet>
</div>
