<!-- container the give some margins
     for and id same name: click on label gives focus to input control
     checkbox from bootstrap doc
     radio group grouped by name attribute

     templata reference variable #classTest
-->
<div class="container">
  <h2>User Settings</h2>

  <!-- form #form="ngForm" ngNativeValidate field validation-->
      <form #form="ngForm" (ngSubmit)="onSubmit(form)">
          <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" class="form-control" [(ngModel)]="userSettings.name"
        required pattern="B.*" minlength="3" maxlength="10" #classTest #propertyTest="ngModel"
        [class.field-error]="form.submitted && propertyTest.invalid"
        (blur)="onBlur(propertyTest)"
        />
        <div [hidden]="!form.submitted || propertyTest.valid"
          class="alert alert-danger">
          Enter a name
        </div>
        <!-- field validation: propertyTest should be named to property for example nameField
        div [hidden]="propertyTest.valid || propertyTest.untouched"
          class="alert alert-danger">
          Enter a name
        </div -->
    </div>

    <h3>{{ classTest.className }}</h3>
    <h3>touched: {{ propertyTest.touched }}</h3>
    <h3>untouched: {{ propertyTest.untouched }}</h3>
    <h3>pristine: {{ propertyTest.pristine }}</h3>
    <h3>dirty: {{ propertyTest.dirty }}</h3>
    <h3>valid: {{ propertyTest.valid }}</h3>
    <h3>invalid: {{ propertyTest.invalid }}</h3>

    <div class="form-check form-group">
        <input class="form-check-input" type="checkbox" value="" id="emailOffers" name="emailOffers" [(ngModel)]="userSettings.emailOffers">
        <label class="form-check-label" for="emailOffers">
          Email Special Offers
        </label>
    </div>

    <p>User Interface Style</p>
    <div class="form-group">
      <div class="form-check">
          <input class="form-check-input" type="radio" name="interfaceStyle" id="lightInterface" value="light" checked [(ngModel)]="userSettings.intefaceStyle">
          <label class="form-check-label" for="lightInterface">
            Light
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="interfaceStyle" id="mediumInterface" value="medium" [(ngModel)]="userSettings.intefaceStyle">
          <label class="form-check-label" for="mediumInterface">
            Medium
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="interfaceStyle" id="darkInterface" value="dark" [(ngModel)]="userSettings.intefaceStyle">
          <label class="form-check-label" for="darkInterface">
            Dark
          </label>
        </div>
      </div>

      <!-- data from service with ngFordirective  and async pipe -->
      <div class="form-group">
          <label for="subscriptionType">Subscription Type</label>
          <select class="form-control" id="subscriptionType" name="subscriptionType" [(ngModel)]="userSettings.subscriptionType">
            <!--
            <option>Monthly</option>
            <option>Annual</option>
            <option>Lifetime</option>
            -->
            <option *ngFor="let type of subscriptionTypes | async">
              {{ type }}
            </option>
          </select>
      </div>

      <div class="form-group">
          <label for="notes">Notes</label>
          <textarea class="form-control" id="notes" name="notes"  rows="3" [(ngModel)]="userSettings.notes"></textarea>
      </div>

      <!-- not used anymore in this demo
      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password">
      </div>
      -->

      <!-- problem visual belong to browser (Chrome) different experience
          with bootstrap to get consistent look and feel
          different type: for example email with check of address
      -->
      <!-- not used anymore in this demo
      <div class="form-group">
          <label for="testingDate">TestingDate</label>
          <input type="date" class="form-control" id="testingDate">
      </div>

      <div class="form-group">
          <label for="testingColor">TestingColor</label>
          <input type="color" class="form-control" id="testingColor">
      </div>
      -->

    <div class="form-group">
     <div [hidden]="!postError"
        class="alert alert-danger">
        {{ postErrorMessage }}
      </div>
      <button class="btn btn-primary">OK</button>
    </div>

    <!-- ngx-bootstrap-->
    <div class="form-group">
      <button type="button"
            class="btn btn-primary"
            [(ngModel)]="singleModel"
            name="singleModel"
            btnCheckbox
            btnCheckboxTrue="On"
            btnCheckboxFalse="Off">
            {{ singleModel }}
     </button>
    </div>

    <div class="form-group">
      <div class="btn-group">
      <label class="btn btn-primary" [(ngModel)]="userSettings.intefaceStyle"
             name="interfaceStyle"
             btnRadio="Light" tabindex="0" role="button">Light</label>
      <label class="btn btn-primary" [(ngModel)]="userSettings.intefaceStyle"
             name="interfaceStyle"
             btnRadio="Medium" tabindex="0" role="button">Medium</label>
      <label class="btn btn-primary" [(ngModel)]="userSettings.intefaceStyle"
             name="interfaceStyle"
             btnRadio="Dark" tabindex="0" role="button">Dark</label>
      </div>
    </div>

    <div class="form-group">
      <input type="text"
      placeholder="Start Date"
      class="form-control"
      [(ngModel)]="startDate" name="startDate" id="startDate"
      bsDaterangepicker>
      <!-- bsDatepicker -->
    </div>

    <div class="form-group">
      <timepicker
        [(ngModel)]="startTime" name="startTime" id="startTime">
      </timepicker>
    </div>

    <div class="form-group">
        <rating [(ngModel)]="userRating" name="userRating" id="userRating"
                [max]="maxRating"
                [readonly]="isReadonly"
                [titles]="['one','two','three']">
      </rating>
    </div>

  </form>

  <!-- print out all form properties and values
  {{ form | json }}
  -->
  <!--
  {{ form.value | json }}
  -->
  <br>
  <br>
  Rating {{ userRating | json }}
  <br>
  <br>
  StartDate {{ startDate | json }}
  <br>
  <br>
  StartTime {{ startTime | json }}
  <br>
  <br>
  {{ userSettings | json }}
</div>
