/* You can add global styles to this file, and also import other style files */

/* npm install bootstrap */
@import "~bootstrap/dist/css/bootstrap.min.css";
/* https://fontawesome.com/how-to-use/on-the-web/setup/using-package-managers
@import "~fontawesome-free/css/fontawesome.min.css"
 */
@import "~font-awesome/css/font-awesome.min.css";

div.card-header {
 font-size: large;
}

div.card {
  margin-top: 10px
}

.table {
  margin-top: 10px
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
