<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/juul.png"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>G3RLab</h3>
      </div>

      <div class="text-center">@g3rlab</div>
      <div class="text-center">
        <a href="http://g3rlab.blogspot.com" target="_blank">g3rlab.blogspot.com</a>
      </div>
    </div>
  </div>
</div>
